streamlit
Pillow
google-generativeai
nltk
youtube-transcript-api
googletrans==4.0.0-rc1
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0.tar.gz
